.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5em;
    padding: 3em;
  }

  .form {
    display: flex;
    flex-direction: column;

    .error {
      color: red;
    }
  }

  button {
    display: flex;
    justify-content: center;
  }
}