:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  height: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;

    &__name {
      cursor: pointer;
      font-size: 1.8em;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    cursor: help;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;

    &__dark-mode {
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-icon {
        display: flex;
        align-items: center;
        font-size: 0.9em;
      }
    }

    &__user {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
    }
  }
}

.main {
  .sidenav {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 15em;

    &__element {
      font-size: 1.4em;
      padding: 5px 10px 5px 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      column-gap: 5px;
      transition: 50ms ease-in;

      &:hover {
        transform: scale(1.05);
        transition: 50ms ease-in;
      }
    }
  }
}
