<mat-card *ngIf="exercise">
	<h2>{{exercise.name}}</h2>
	<span>Type: {{exercise.type.label}}</span>
	<span>Catégorie: {{exercise.category.name}}</span>
	<span *ngIf="exercise.instructions">Instructions: {{exercise.instructions}}</span>
	<span *ngIf="exercise.youtubeId">Lien youtube : {{exercise.youtubeId}}</span>
</mat-card>
