.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-card {
    margin: 1em;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    .mat-radio-group {
      display: flex;
      justify-content: space-evenly;
    }

    .exercise {
      .serie {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5em;
      }

      button {
        width: 100%;
      }
    }
  }
}