<div class="container">
	<mat-card>
		<form [formGroup]="modelForm">
			<mat-radio-group aria-label="Select an option" formControlName="type">
				<mat-radio-button value="model">Modèle</mat-radio-button>
				<mat-radio-button value="training">Séance</mat-radio-button>
			</mat-radio-group>
			<mat-form-field class="form__title">
				<mat-label>Titre</mat-label>
				<input formControlName="title" matInput placeholder="Titre de l'activité">
			</mat-form-field>
			<mat-form-field class="form__desc">
				<mat-label>Description</mat-label>
				<textarea formControlName="description" matInput placeholder="Description" style="height:5em;"></textarea>
			</mat-form-field>
			<div formArrayName="content" class="form__exercices">
				<div class="exercise" *ngFor="let exercice of exercises.controls; let exIdx = index" [formGroupName]="exIdx">
					<mat-form-field>
						<mat-label>Exercice</mat-label>
						<mat-select required formControlName="exercise">
							<mat-option *ngFor="let exo of exercisesDefinition" [value]="exo">{{exo.name}}</mat-option>
						</mat-select>
					</mat-form-field>
					<div formArrayName="series" class="series">
						<div class="serie" *ngFor="let serie of series(exIdx).controls; let serIdx = index"
								 [formGroupName]="serIdx">
							<span>{{serIdx + 1}} -</span>
							<mat-form-field>
								<mat-label>Reps</mat-label>
								<input formControlName="reps" matInput type="number" placeholder="Reps" min="0" required>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Kg</mat-label>
								<input formControlName="kg" matInput type="number" placeholder="Kg" min="0" required>
							</mat-form-field>
							<mat-checkbox *ngIf="type === 'training'" formControlName="validated"></mat-checkbox>
						</div>
					</div>
					<button mat-stroked-button (click)="addSerie(exIdx)" [disabled]="loading">Ajouter une série</button>
				</div>
			</div>
			<button mat-raised-button (click)="addExercice()" [disabled]="loading">Ajouter un exercice</button>
			<button mat-raised-button color="primary" type="submit" [disabled]="loading" (click)="save()"
							style="display:flex;justify-content:center;align-items:center">
				<span *ngIf="!loading">{{online ? 'Sauvegarder l\'activité' : 'Sauvegarder l\'activité localement'}}</span>
				<mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
			</button>
		</form>
	</mat-card>
</div>