html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: auto;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
